network {
  position: absolute;
  top: 60px;
  bottom: 10px;
  left: 210px;
  right: 10px;
}

network svg {
  background-color: #eee;
  cursor: move;
}

network svg g.vertex {
  cursor: pointer;
}

control {
  position: absolute;
  top: 60px;
  bottom: 10px;
  left: 10px;
  width: 200px;
  overflow: scroll;
}
