network {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 220px;
  right: 10px;
}

network svg {
  background-color: #eee;
  cursor: move;
}

network svg g.vertex {
  cursor: pointer;
}

control {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 200px;
  overflow-y: scroll;
}

control-buttons {
  position: absolute;
  top: 60px;
  left: 220px;
  right: 10px;
  height: 50px;
}
