.controllerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  box-shadow: 0 0 20px;
  overflow-y: scroll;
}

.semWrapper {
  position: absolute;
  left: 300px;
  right: 0;
  bottom: 0;
  height: 200px;
}

.networkDiagramWrapper {
  position: absolute;
  left: 300px;
  right: 0;
  top: 0;
  bottom: 0;
}
