.articlesWrapper {
  position: absolute;
  left: 320px;
  right: 20px;
  bottom: 0;
  height: 200px;
  box-shadow: 0 0 10px;
  overflow-y: scroll;
  background-color: #fff;
}

.articlesWrapper>table {
  width: 100%;
}

.articlesWrapper>table>thead>tr>th:nth-child(1) {
  width: 200px;
}

.articlesWrapper>table>thead>tr>th:nth-child(2) {
  width: 150px;
}

.articlesWrapper>table>thead>tr>th:nth-child(3) {
  width: 150px;
}

.controllerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  box-shadow: 0 0 20px;
  overflow-y: scroll;
}

.networkDiagramWrapper {
  position: absolute;
  left: 300px;
  right: 0;
  top: 0;
  bottom: 0;
}

.actionButtons {
  position: absolute;
  left: 300px;
  bottom: 200px;
  margin: 1rem;
}

.actionButtons button, .actionButtons a {
  width: 150px;
  margin: 0 1rem;
  color: #fff;
  background-color: var(--primary-color);
}

.searchForm {
  position: absolute;
  right: 50px;
  bottom: 200px;
  width: 200px;
  margin: 1rem;
}
