.controllerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  box-shadow: 0 0 20px;
  overflow-y: scroll;
}

.networkDiagramWrapper {
  position: absolute;
  left: 300px;
  right: 0;
  top: 0;
  bottom: 0;
}

.actionButtons {
  position: absolute;
  left: 300px;
  bottom: 0;
  margin: 1rem;
}

.actionButtons button {
  width: 150px;
  margin: 0 1rem;
  color: #fff;
  background-color: var(--primary-color);
}
