.controller {
  width: 100%;
  min-height: 100%;
  color: #fff;
  background-color: var(--main-color);
}

.controller>div {
  padding: 1rem;
}

.controller input[type=file] {
  width: 100%;
  margin-bottom: 1rem;
}

.controller button:global(.pure-button) {
  width: 100%;
  background-color: var(--primary-color);
}

.controller input[type=range] {
  cursor: pointer;
  width: 100%;
}
