.controller {
  width: 100%;
  min-height: 100%;
  color: #fff;
  background-color: var(--main-color);
}

.controller>div {
  padding: 1rem;
}

.controller input[type=text] {
  color: #000;
  width: 100%;
  margin-bottom: 0.5rem;
}

.controller input[type=password] {
  color: #000;
  width: 100%;
  margin-bottom: 0.5rem;
}

.controller textarea {
  color: #000;
  width: 100%;
  resize: none;
}

.controller input[type=file] {
  width: 100%;
  margin-bottom: 1rem;
}

.mainButton {
  width: 100%;
  color: #fff;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
}

.selectButton {
  font-size: 70%;
  margin-right: 0.5rem;
  width: 100px;
}

.controller input[type=range] {
  cursor: pointer;
  width: 100%;
}

.controller select {
  width: 100%;
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  margin-bottom: 1rem;
}
